<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>曾</key>
	<string>zeng </string>
	<key>查</key>
	<string>zha </string>
	<key>翟</key>
	<string>zhai </string>
	<key>乐</key>
	<string>yue </string>
	<key>解</key>
	<string>xie </string>
	<key>厦</key>
	<string>xia </string>
	<key>谌</key>
	<string>shen </string>
	<key>单</key>
	<string>shan </string>
	<key>折</key>
	<string>she </string>
	<key>沈</key>
	<string>shen </string>
	<key>覃</key>
	<string>qin </string>
	<key>仇</key>
	<string>qiu </string>
	<key>繁</key>
	<string>po </string>
	<key>区</key>
	<string>ou </string>
	<key>乜</key>
	<string>nie </string>
	<key>阿</key>
	<string>e </string>
	<key>褚</key>
	<string>chu </string>
	<key>重</key>
	<string>chong </string>
	<key>种</key>
	<string>chong </string>
	<key>长</key>
	<string>chang </string>
	<key>秘</key>
	<string>bi </string>
	<key>长孙</key>
	<string>zhang sun </string>
	<key>尉迟</key>
	<string>yu chi </string>
	<key>澹台</key>
	<string>tan tai </string>
	<key>万俟</key>
	<string>mo qi </string>
	<key>单于</key>
	<string>chan yu </string>
	<key>查理</key>
	<string>cha li </string>
</dict>
</plist>
