<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>曾</key>
	<string>增</string>
	<key>查</key>
	<string>扎</string>
	<key>翟</key>
	<string>宅</string>
	<key>乐</key>
	<string>月</string>
	<key>解</key>
	<string>谢</string>
	<key>厦</key>
	<string>下</string>
	<key>谌</key>
	<string>肾</string>
	<key>单</key>
	<string>善</string>
	<key>折</key>
	<string>蛇</string>
	<key>沈</key>
	<string>审</string>
	<key>覃</key>
	<string>琴</string>
	<key>仇</key>
	<string>球</string>
	<key>繁</key>
	<string>婆</string>
	<key>区</key>
	<string>欧</string>
	<key>乜</key>
	<string>聂</string>
	<key>阿</key>
	<string>婀</string>
	<key>褚</key>
	<string>楚</string>
	<key>重</key>
	<string>虫</string>
	<key>种</key>
	<string>虫</string>
	<key>长</key>
	<string>常</string>
	<key>秘</key>
	<string>必</string>
	<key>长孙</key>
	<string>涨孙</string>
	<key>尉迟</key>
	<string>玉池</string>
	<key>澹台</key>
	<string>谈台</string>
	<key>万俟</key>
	<string>莫其</string>
	<key>单于</key>
	<string>馋鱼</string>
	<key>查理</key>
	<string>茶里</string>
</dict>
</plist>
